// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    * {
        font-size: 0.8rem !important;
    }

    .garvice-navbar {
        & &-icon {
            &-three-dots {
                font-size: 1.5rem !important;
            }
        }
    }
}