// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    * {
        font-size: 1rem !important;
    }

    .garvice-navbar {
        & &-icon {
            &-bell {
                font-size: 1.5rem !important;
            }
            &-person {
                font-size: 1.8rem !important;
            }
        }
    }
}