// Variables Color
$icon-color: #0f3057;
$icon-color-hover: cornflowerblue;
$text-color: #0f3057;
$text-color-hover: cornflowerblue;
$background-secondary: #f3f2f1;
$background-hover: #d3ddf6;
$border-hover: #d3ddf6;
