/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
@import "reorder-variables.scss";
@import "reorder-mixin.scss";

* {
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    color: $text-color;
}

.active {
    color: cornflowerblue !important;
    background-color: $background-secondary !important;
}

/* Navbar Style Start */
.navbar-garvice {
    & &-icon {
        &-bell,
        &-person,
        &-three-dots {
            color: $icon-color;

            &:hover {
                color: $icon-color-hover;
            }
        }
    }
}
/* Navbar Style End */

/* Sidebar Style Start */
.sidebar-garvice {
    height: 100vh;
    background-color: $background-secondary;
    
    & &-box {
        width: 100vw;
        height: fit-content;

        &-link {
            color: $text-color;
    
            &:hover {
                color: $text-color-hover;
                background-color: $background-hover;
            }
        }
    }

}
/* Sidebar Style End */

/* Content Style Start  */
// Index Page Start
.content-garvice {
    background-color: $background-content;

    & &-header,
    & &-link-add {
        background-color: $background-secondary;
    }
    & &-link-add {
        &:hover {
            border-color: $border-hover;
            background-color: $background-hover;
            color: $text-color !important;
        }
    }

    & &-overflow {
        overflow-x: auto !important;
    }

    & &-table {
        & tr:hover {
            background-color: #fff;
        }
        &-icon-edit,
        &-icon-delete {
            &:hover {
                color: $icon-color-hover;
            }
        }
    }
}
// Index Page End

/* Form Font Size */
.content .sub-content .form-create input,
.content .sub-content .form-create button,
.content .sub-content .form-create a {
    font-size: 0.7rem;
}
/* Table Edit & Delete Hover */
.content
    .sub-content
    .row
    .col-12
    .overflow-reorder
    table
    tbody
    tr
    td
    .edit-icon:hover,
.content
    .sub-content
    .row
    .col-12
    .overflow-reorder
    table
    tbody
    tr
    td
    .delete-icon:hover {
    color: cornflowerblue !important;
}
/* Cancel Button Hover */
.content .sub-content .row .col-12 .row .col-12 .form-create a:hover {
    background-color: #faf9f8;
}
/* Submit Button Hover */
.content .sub-content .row .col-12 .row .col-12 .form-create button:hover {
    background-color: #e8f0fe;
    color: cornflowerblue !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    * {
        font-size: 0.8rem;
    }
    .content .sub-content div table thead tr th,
    .content .sub-content div table tbody tr td {
        font-size: 0.8rem;
    }

    .content .sub-content .form-create input,
    .content .sub-content .form-create button,
    .content .sub-content .form-create a {
        font-size: 0.8rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    * {
        font-size: 0.9rem;
    }
    .content .sub-content div table thead tr th,
    .content .sub-content div table tbody tr td {
        font-size: 0.9rem;
    }

    .content .sub-content .form-create input,
    .content .sub-content .form-create button,
    .content .sub-content .form-create a {
        font-size: 0.9rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    * {
        font-size: 1rem;
    }
    .content .sub-content div table thead tr th,
    .content .sub-content div table tbody tr td {
        font-size: 1rem;
    }

    .content .sub-content .form-create input,
    .content .sub-content .form-create button,
    .content .sub-content .form-create a {
        font-size: 1rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
