// Variables Color
$icon-color: #0f3057;
$icon-color-hover: cornflowerblue;
$text-color: #0f3057;
$text-color-hover: cornflowerblue;
$background-secondary: #f3f2f1;
$background-content: #FAF9F8;
$background-hover: #EDEBE9;
$border-hover: #EDEBE9;
