/* X-Small devices (portrait phones, less than 576px) */

/* No media query for `xs` since this is the default in Bootstrap */

* {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  color: #0f3057;
}

/* Navbar Style Start */

.navbar-garvice .navbar-garvice-icon-bell,
.navbar-garvice .navbar-garvice-icon-person,
.navbar-garvice .navbar-garvice-icon-three-dots {
  color: #0f3057;
}

.navbar-garvice .navbar-garvice-icon-bell:hover,
.navbar-garvice .navbar-garvice-icon-person:hover,
.navbar-garvice .navbar-garvice-icon-three-dots:hover {
  color: cornflowerblue;
}

/* Navbar Style End */

/* Sidebar Style Start */

.sidebar-garvice {
  height: 100vh;
  background-color: #f3f2f1;
}

.sidebar-garvice .sidebar-garvice-box {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sidebar-garvice .sidebar-garvice-box .active {
  background-color: #d3ddf6 !important;
}

.sidebar-garvice .sidebar-garvice-box-link {
  color: #0f3057;
}

.sidebar-garvice .sidebar-garvice-box-link:hover {
  color: cornflowerblue;
  background-color: #edebe9;
}

/* Sidebar Style End */

/* Content Style Start  */

.content-garvice {
  background-color: #faf9f8;
}

.content-garvice .content-garvice-header,
.content-garvice .content-garvice-link-add {
  background-color: #f3f2f1;
}

.content-garvice .content-garvice-link-add:hover {
  border-color: #edebe9;
  background-color: #edebe9;
  color: #0f3057 !important;
}

.content-garvice .content-garvice-overflow {
  overflow-x: auto !important;
}

.content-garvice .content-garvice-table tr:hover {
  background-color: #fff;
}

.content-garvice .content-garvice-table-icon-edit:hover,
.content-garvice .content-garvice-table-icon-delete:hover {
  color: cornflowerblue;
}

.pagination-garvice .page-link {
  color: #0f3057 !important;
}

.pagination-garvice .page-link:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.pagination-garvice .active .page-link {
  color: #0f3057 !important;
  background-color: #d3ddf6 !important;
}

.pagination-garvice .active .page-link:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Form Font Size */

.content .sub-content .form-create input,
.content .sub-content .form-create button,
.content .sub-content .form-create a {
  font-size: 0.7rem;
}

/* Table Edit & Delete Hover */

.content .sub-content .row .col-12 .overflow-reorder table tbody tr td .edit-icon:hover,
.content .sub-content .row .col-12 .overflow-reorder table tbody tr td .delete-icon:hover {
  color: cornflowerblue !important;
}

/* Cancel Button Hover */

.content .sub-content .row .col-12 .row .col-12 .form-create a:hover {
  background-color: #faf9f8;
}

/* Submit Button Hover */

.content .sub-content .row .col-12 .row .col-12 .form-create button:hover {
  background-color: #e8f0fe;
  color: cornflowerblue !important;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  * {
    font-size: 0.8rem;
  }

  .content .sub-content div table thead tr th,
  .content .sub-content div table tbody tr td {
    font-size: 0.8rem;
  }

  .content .sub-content .form-create input,
  .content .sub-content .form-create button,
  .content .sub-content .form-create a {
    font-size: 0.8rem;
  }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  * {
    font-size: 0.9rem;
  }

  .content .sub-content div table thead tr th,
  .content .sub-content div table tbody tr td {
    font-size: 0.9rem;
  }

  .content .sub-content .form-create input,
  .content .sub-content .form-create button,
  .content .sub-content .form-create a {
    font-size: 0.9rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  * {
    font-size: 1rem;
  }

  .content .sub-content div table thead tr th,
  .content .sub-content div table tbody tr td {
    font-size: 1rem;
  }

  .content .sub-content .form-create input,
  .content .sub-content .form-create button,
  .content .sub-content .form-create a {
    font-size: 1rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */

/* XX-Large devices (larger desktops, 1400px and up) */

